RewriteEngine on

RewriteRule .*\.()$ - [F,NC]

RewriteCond %{HTTP_REFERER} !^http://buscarv.com.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://buscarv.com.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.buscarv.com.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.buscarv.com.mx$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

